@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yesteryear&display=swap');

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Poppins', sans-serif;
    --font-serif: 'Poppins', serif;
}
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: white;
    color: black;
    padding: 30px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's above other content */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: auto;
    padding-left: 50px;
}

.nav-active {
    background: white; 
}

/* Optional: Style for when scrolling */
body.scrolled header {
    background: white; /* Solid background when scrolled */
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    padding-bottom: 10px;
}

.nav-links a span{
    color: black;
    border: solid rgb(60, 60, 148) 2px;
    border-radius: 70px;
    font-size: 16px;
    padding-inline: 15px;
    padding-block: 5px;
}

.nav-links a:hover {
    color: #314b92;
    border-bottom: solid #0c911a;
    transition: 0.2s;
}


.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: black;
    transition: all 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background: #605d5d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        margin-top: 20px;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        transform: translateX(0);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Make sure it's behind the content */
    background-color: #1D1E22;
    color: white;
  }
  

/* Home Section */
#home {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    margin-top: 3%;
}

.text-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-right: 20px;
    align-items: center;
}

.text-content h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 550px;
    text-align: center;
}


.social-links {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: #0056b3;
}

.social-icon i {
    font-size: 24px;
}


.image-content img {
    max-width: 550px; /* Adjust as needed */
    height: auto;
    border-radius: 100%; /* Optional: add rounded corners */
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        flex-direction: column;
    }

    .text-content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image-content img {
        max-width: 100%;
    }
}

/* intro Section */
#intro {
    position: relative;
    background: #f4f4f4;
    padding: 50px 50px;
    justify-content: center;
    align-items: center;
}

.intro-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
}

.intro-content {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 30px;
    gap: 60px;
    z-index: 1;
    justify-content: center;
}

.intro-image img {
    height: 320px;
    transition: transform 0.3s ease;
}

.intro-image img:hover {
    transform: scale(1.03); /* Slight zoom effect on hover */
}

.intro-text {
    max-width: 800px;
}

svg{
    overflow: auto;
}



.intro-text p span {
    font-size: 25px;
    font-weight: bold;
}

.intro-text p {
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    #intro {
        flex-direction: column;
        text-align: center;
    }

    .intro-content {
        flex-direction: column;
    }

    .intro-image {
        margin-bottom: 20px;
    }

    .intro-image img {
        max-width: 250px; /* Adjust for smaller screens */
    }

    .intro-text {
        max-width: 100%;
    }
}


#projects {
    padding-block: 20px;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 20px;
    gap: 20px;
}

.heading h2{
    font-size: 40px;
}

.heading p{
    font-size: 18px;
}

.filters {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.filter-btn {
    font-size: 17px;
    background-color: transparent;
    color: #34659a;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border:0px solid #34659a;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;

    
}

.filter-btn.active {
    background-color: #34659a;
    color: white;
}

.filter-btn:hover:not(.active) {
    background-color: #e7f1ff;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-inline: 7%;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(139, 139, 139, 0.2);
    overflow: hidden;
    flex: 0 0 calc(33.333% - 20px); /* Three cards per row with 20px gap */
    margin-bottom: 20px; /* Adds spacing between rows */
  }
  
  .card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .card-tags {
    display: flex;
    flex-wrap: wrap; /* Allow tags to wrap to the next row */
    gap: 10px;
    margin-bottom: 10px;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 0.6s forwards; /* Animation for the tags */
    min-height: 70px;
  }
  
  .card-tags span {
    background-color: #205c78;
    color: #fff;
    padding: 6px 15px;
    border-radius: 30px;
    font-size: 13px;
    white-space: nowrap; /* Ensure each tag doesn't break within */
    opacity: 0; /* Initially hidden */
    animation: tagSlideIn 0.5s forwards; /* Individual tag animation */
    height: 30px;
  }
  
  .card-tags span:nth-child(1) {
    animation-delay: 0.1s; /* Delay for the first tag */
  }
  
  .card-tags span:nth-child(2) {
    animation-delay: 0.3s; /* Delay for the second tag */
  }
  
  .card-tags span:nth-child(3) {
    animation-delay: 0.5s; /* Delay for the third tag */
  }
  
  /* Keyframes for fading in the entire tags section */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Keyframes for sliding in each tag */
  @keyframes tagSlideIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .card-context {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    min-height: 80px;
  }
  
  .card a {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
  }
  
  .card:hover .card-tags span {
    animation-play-state: running; /* Play animation on hover */
  }

  /* Styles for the pop-up overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Background with transparency */
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Styles for the pop-up content with hidden scrollbar */
.popup-content {
    position: relative;
    width: 82%;
    max-height: 90%; /* Restrict the height of the pop-up */
    background-color: #fff;
    padding-block: 5%;
    padding-inline: 7%;
    overflow-y: scroll; /* Still scrollable */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: none; /* For Firefox */
}

/* For Chrome, Safari, and Edge */
.popup-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}


/* Close button outside the pop-up */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: #f1f1f1;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.image-text-wrapper {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add some space below each image-text pair */
}

.half-size-img {
    width: 50%; /* Set the width of images to 50% */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add space between image and text */
}


/*Contact*/
#contact {
    background: linear-gradient(white,#28065f);
    padding: 5%;
}

.start{
    background-color: black;
    margin-inline: 8%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    margin-block: 1px;
    padding: 55px;
}

.start h3{
    font-size: 33px;
}

.start p{
    font-size: 20px;
    text-align: center;
}

.end{
    margin-block-start: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.end h3{
    text-align: center;
    font-size: 35px;
    color: white;
}
.end p{
    text-align: center;
    font-size: 15px;
    color: white;
}


.social-icons {
    display: flex;
    gap: 20px;
}

.icon {
    text-decoration: none;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.icon:hover {
    background-color: white;
    color: #282828;
    transform: scale(1.1); /* Slight scale effect on hover */
}

.github:hover {
    border-color: white;
}

.linkedin:hover {
    border-color: white;
}

.twitter:hover {
    border-color: white;
}

.gmail:hover {
    border-color: white;
}

.quotation{
    font-family: 'Yesteryear';
    font-size: 60px !important;
}